<html>
<head>
    <link href="/src/css/intro.css" rel="stylesheet" type="text/css" />
    <link href="/src/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/src/scripts/third-party/jquery-3.1.1.min.js"></script>
    <script src="/src/scripts/third-party/bootstrap.min.js"></script>
    <script src="/src/scripts/intro.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>


<body>
  <div class=banner>Welcome to Palace</div>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</body>
</html>
