* {margin: 0; padding: 0;}

body {
  background: #B0ABAA;
}

.top {
  height: 3rem;
}

/*HEADER*/
.header {
  height: 25px;
  background: #222;
  color: #eee;
  text-align: center;
  font: 10px/25px Helvetica, Verdana, sans-serif;
}

.header a {
  color: #999;
}

.hand {
  margin: 50px;
}

/* For modern browsers */
.hand:before,
.hand:after {
    content:"";
    display:table;
}

.hand:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.hand {
    zoom:1;
}

.board {
  width: 900px;
  height: 300px;
}

.row {
  border: 1rem;
  margin: 1rem;
}

.table {
  position: absolute;
}

.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 190px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card p {
  text-align: center;
  font: 80px/200px Georgia, serif;
}

.faceDown {
  content: url('/src/imgs/cardBack.png');
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.burnDeck {
  content: url('/src/imgs/burn.png');
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.suitdiamonds:before, .suitdiamonds:after, .faceUp {
  content: "♦";
  color: #ff0000;
}

.suithearts:before, .suithearts:after, .faceUp {
  content: "♥";
  color: #ff0000;
}

.suitclubs:before, .suitclubs:after, .faceUp {
  content: "♣";
  color: #000;
}

.suitspades:before, .suitspades:after, .faceUp {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}

.card:hover {
  cursor: pointer;
}

/*GROW*/
.grow > .card {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.grow > .card:hover {
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}
